body {
    padding: 4px;
    margin: 0 auto;
}

#labirinto {
    display: grid;
    /* são 21 colunas */
    grid-template-columns: repeat(21, calc(80vh/21));
    /* são 15 linhas */
    grid-template-rows: repeat(15, calc(80vh/15));
}

