body {
    padding: 4px;
    margin: 0 auto;
}

#labirinto {
    display: grid;
    /* são 21 colunas */
    grid-template-columns: repeat(21, calc(80vh/21));
    /* são 15 linhas */
    grid-template-rows: repeat(15, calc(80vh/15));
}
.Paredes {
    background-color: red;
    background-image:url(https://pbs.twimg.com/profile_images/1233627159/TibiaIcon_400x400.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.vazios {
    background-color: blue;
}
#s {
    background-color: green;
    background-image:url(https://pbs.twimg.com/profile_images/1233627159/TibiaIcon_400x400.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#f {
background-color: yellow;
background-image: url(https://portaltibia.com.br/wp-content/uploads/2012/11/capa-revelon-817x320.png);
background-repeat: no-repeat;
background-size: cover;
}
